<div class="container">
        <table class="table table-striped table-hover">
            <tr >
                <td ><b>Username</b></td>
                <td>{{ viewEmployee.username }}</td>
            </tr>
            <tr>
                <td><b>First Name</b></td>
                <td>{{ viewEmployee.firstName }}</td>
            </tr>
            <tr>
                <td><b>Last Name</b></td>
                <td>{{ viewEmployee.lastName }}</td>
            </tr>
            <tr>
                <td><b>Email</b></td>
                <td>{{ viewEmployee.email }}</td>
            </tr>
            <tr>
                <td><b>Birth Date</b></td>
                <td>{{ viewEmployee.birthDate }}</td>
            </tr>
            <tr>
                <td><b>Basic Salary</b></td>
                <td>{{ viewEmployee.basicSalary }}</td>
            </tr>
            <tr>
                <td><b>Group</b></td>
                <td>{{ viewEmployee.group }}</td>
            </tr>
            <tr>
                <td><b>Description</b></td>
                <td>{{ viewEmployee.username }}</td>
            </tr>
        </table>
        <div class="form-group">
                <a routerLink="/employees" class="btn btn-info">Back</a>
        </div>
</div>


    
